/* Navbar styles */
.navbar-bg {
    background-color: var(--bg-color)!important;
    padding: 2rem 0;
    z-index: 99;
    position: relative;
  }
  .navbar-brand {
    font-size: 2rem;
  }
  .navbar-nav li {
    padding: 0 2rem;
  }
  .nav-item a {
    font-size: 1.7rem !important;
    font-weight: lighter;
    position: relative;
  }
  .navbar-nav li a:hover {
    color: var(--primary-color) !important;
  }